---
layout: layouts/base.html
---

<article class="w-full max-w-3xl mx-auto px-4 py-8">
  <header class="mb-8">
    <h1 class="md:text-4xl text-3xl mb-2 font-[MarcellusSCRegular] text-[#1d1d1f] font-[900]">{{ title }}</h1>
    <time class="text-base font-[SpecialGothic] text-zinc-500 font-[100]">{{ page.date | date }}</time>
  </header>

  <div class="flex flex-col w-full gap-y-2 blog-post prose prose-lg max-w-none text-[#1d1d1f] font-[200] text-lg tracking-tight leading-[1.5]">
    {{ content | safe }}
  </div>
</article>

<script>
  window.addEventListener('DOMContentLoaded', (e) => {
    document.querySelectorAll('.token.keyword').forEach(element => {
      if (element.textContent.trim() === 'undefined' || element.textContent.trim() === 'null' || element.textContent.trim() === 'let' || element.textContent.trim() === 'const' || element.textContent.trim() === 'function') {
        element.classList.add('undefined-keyword');
      }
    });
    document.querySelectorAll('.token.variable').forEach(element => {
      if (element.textContent.trim() === 'undefined' || element.textContent.trim() === 'null') {
        element.classList.add('undefined-keyword');
        element.classList.remove('variable')
      }
    });
  })
</script>